{% extends "layout.njk" %}

{% block content %}

<head><title>Gym Manager - Instructors</title></head>

<div class="card">
    <section class="avatar" style="background: url({{instructor.avatar_url}}) no-repeat center center / cover "></section>
    
    <section class="details">
        
        <h3>Details</h3>
        
        <div class="item">
            <div>instructor</div>
            <div>{{instructor.name}}</div>
        </div>
        
        <div class="item">
            <div>age</div>
            <div>{{instructor.age}} years</div>
        </div>
        
        <div class="item">
            <div>gender</div>
            <div>{{ "Male" if instructor.gender == "M" else "Female"}}</div>
        </div>
        
        <div class="item">
            <div>skills</div>
            <div>
                {% for skill in instructor.skills%}
                <span>{{skill}}</span>
                {% endfor%}
                
            </div>
        </div>
        
        <div class="item">
            <div>since</div>
            <div>{{instructor.created_at}}</div>
        </div>

        <a href="/instructors/{{ instructor.id}}/edit" class="button">Editar</a>

    </section>
</div>

{% endblock content %}
