@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root{
--dark1: #111111;
--dark2: rgb(26, 25, 25);
--mid-dark1: #333;
--mid-dark2: rgb(45, 45, 45);
--smooth-dark: rgb(88, 88, 88);
--smooth-brown: #B6A086;
--mid-brown: #8B7967;  
--brown: #513D33;
--purple: #7062E9;
--mid-blue:#283CAF;
--dark-blue: #191E5D;
--white: #E0E6E9;
--dark-white: #BCAFAA;
--dark-white2: rgba(179, 166, 162, 0.5);
--orange: #FA5807;
--yellow: #caae0ed8;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--mid-dark1);
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: var(--mid-dark2);
    border-bottom: 1px solid var(--smooth-dark);
    width: 100%;
    padding: 32px;
    text-align: center;
}

.links{
    font-size: 18px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: var(--white);
    position: relative;
}

.links a.active{
    font-weight: bold;
    color: var(--yellow);
}

.links a:hover{
    color: var(--yellow);
}

.links a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--yellow);
    position: absolute;
    left: 0;
    bottom: -33px;
}

.links a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out;
}

/*-------------------CARD-------------------------*/

.card{
    background-color: var(--white);
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 2px 10px -2px var(--dark-white2);
    animation: up 700ms ;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}

.details{
    padding: 32px;
}

.details .item{
    border-bottom: 1px solid var(--smooth-brown);
    padding: 16px;
}

.details .item:last-child{
    border: none
}

.details h3, .details .item div:nth-child(1){
    color:var(--smooth-dark);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
}

.details .item div:nth-child(2){
    color:var(--dark1);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--yellow);
    font-size: 18px;
    text-shadow: 0.5px 0.5px 1px  rgba(25,25,25,0.7);
}

.details .item span{
    padding: 8px 8px;
    background-color: var(--yellow);
    border-radius: 16px;
    color: var(--mid-dark1);
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-size: 12px;
}

/*------------------------Forms-----------------------------*/

input{
    width: 100%;
    outline: none;
    color:var(--dark1);
    font-weight: bold;
    font-size: 18px;
    background: transparent;

}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 12px;
    font-weight: normal;
}

button[type="submit"], a.button{
    width: 100%;
    padding: 8px 32px;
    background-color: var(--yellow);
    color: var(--dark1);
    border-radius: 4px;
    margin-top: 32px;
    font-size: 16px;
}

a.button{
    box-sizing: border-box;
    display: block;
    text-align: center;
    text-decoration: none;
}