{% extends "layout.njk" %}

{% block content %}

<head><title>Gym Manager</title></head>

<div class="card table-container">
    
    <table width=100%>
        <thead>
            <tr>
                <th>Instructor</th>
                <th>Skill</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for instructor in instructors %}
            <tr>
                <td><span style="background-image: url({{instructor.avatar_url}}}})"></span>{{instructor.name}}</td>
                <td>{{instructor.skills}}</td>
                <td><a href="/instructors/{{instructor.id}}">View</a></td>
            </tr>
            {% endfor %}       
        </tbody>

    </table>


</div>

{% endblock content %}
